@use "./variables.scss" as *;
@use "./breakpoints" as *;

.header {
    display: flex;
    background-color: #323232;
    flex-direction: column;
    @include regular-font;
    @include colorWhite;
    
    @include tablet {
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    &__div {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;

        @include tablet {
            margin-left: 2rem;
        }

        &-title {
            font-weight: 400;
        }
    }

    &__nav {
        display: flex;

        &-list {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @include tablet {
                height: 125px;
                padding-top: 2.5rem;
            }

            &-div {
                width: 50%;
                display: flex;
                justify-content: center;

                @include tablet {
                    margin-left: 3rem;
                }

                &--border {
                    border-bottom: 4px white solid;
                }
            }

            &-item {
                padding: 1rem;
                list-style-type: none;

                &-link {
                    text-decoration: none;
                    color: #e1e1e1;

                    &:hover {
                        @include colorWhite;
                    }

                    &:active {
                        @include colorWhite;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}