@use "./breakpoints" as *;
@use "./resets" as *;
@use "./variables.scss" as *;

.form{
    @include regular-font;
    @include mobile-padding;
    min-height: 2rem;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
    display: flex;
    @include tablet{
        margin-right: 3rem;
    }

    &__img{
        width: 100%;
        max-width: 2.25rem;
        max-height: 2.25rem;
        border: 1px white solid;
        background-color: #E1E1E1;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 2.5rem;
        display: flex;
        margin-right: 1rem;
        @include tablet{
            max-width: 3rem;
            max-height: 3rem;
        }

        &--center{
            padding: 0;
            width: 100%;
        }
    }
    &__div{
        width: 100%;

        &-main{
            display: flex;
            flex-direction: column;
            padding: 1rem 0;

            &-label{
                margin-bottom: 0.25px;
                font-size: 0.8rem;
                color: #AFAFAF;
            }

            &-input{
                border-radius: 0.25rem;
                border: 1px solid #E1E1E1;
                height: 2.5rem;
                background-color: #FAFAFA;
                margin-top: 0.5rem;

                &-textarea{
                    height: 7rem;
                }
            }
        }
    }
    &__button{
        height: 40px;
        width: 100%;
        border-radius: 4px;
        background-color: #323232;
        color: #FFFFFF;
        @include tablet{
            width: 30%;
            margin: 1rem 0;
        }
    }
}
.button__div{
    @include tablet{
        display: flex;
        justify-content: right;
    }
}