@use "./breakpoints" as *;
@use "./shows-resets" as *;
@use "./variables.scss" as *;

.comments{
    display: flex;
    @include regular-font;
    @include mobile-padding;
    @include tablet{
        margin-left: 5rem;
        margin-right: 2rem;
    }

    &__h2{
        @include mobile-padding;
        @include tablet{
            margin: 3rem 0 1rem 1rem;
            font-size: 3rem;
            @include demi-font;
        }
    }

    &__container{
        &-main{
            border-bottom: 1px solid #E1E1E1;
            display: flex;

            &-avatar{
                width: 100%;
                max-width: 36px;
                height: 36px;
                border: 1px white solid;
                background-color: #E1E1E1;
                border-radius: 50%;
                overflow: hidden;
                margin: 1rem 1rem 6.5rem 0;
                @include tablet{
                    max-width: 48px;
                    height: 48px;
                }
            }

            &-text{
                
                &-input{
                    margin-bottom: 1rem;
                }

                &-name{
                    @include demi-font;
                }
                &-date{
                    color: #AFAFAF;
                }
            }

            &-name-date{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.form{
    @include tablet{
        margin-left: 5rem;
    }
}