@font-face{
    font-family: "regular__avenir";
    src: url("../../assets/Font/Alternative\ files/$avenirNextLTPro") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "bold__avenir";
    src: url("../../assets/Font/Alternative\ files/$avenirNextLTProBold") format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "demi__avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}