@font-face {
  font-family: "regular__avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "bold__avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "demi__avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}