.footer{
    background-color: #323232;
    color: white;

    &__title{
        margin: 1rem 0;
        padding-top: 1rem;
    }

    &__div{
        margin: 1rem 0 0 1rem;
        padding-bottom: 1rem;

        &-management{
            margin: 1rem 0;
            font-family: "avenir";
            font-style: normal;
            font-weight: bold;

            &-email{
                margin: 2rem 0;
            }
            
            &-p{
                margin: 0;

                &--normal{
                    font-family: "regular__avenir";
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
    &__socials-image{
        padding-right: 1.5rem;
    }
}

.copyright{
    margin-top: 5rem;
    font-family: "bold_avenir";
    font-style: normal;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.5rem;

    &__fineprint{
        margin: 1rem 0;
    }
}