@use "./breakpoints" as *;
@use "./variables.scss" as *;

.footer {
  background-color: #323232;
  @include colorWhite;
  padding-left: 1rem;
  @include regular-font;
  @include desktop{
    padding-left: 4.8rem;
  }

  &__socials{
      @include tablet{
          margin-left: 1rem;
      }
  }

  &__title {
    @include demi-font;
    @include tablet{
        margin: 1rem 1rem 1rem 0;
        padding: 0;
        font-size: 2.35rem;
    }
  }

  &__div {
    margin: 1rem 0 0 0;
    @include tablet{
        padding-top: 2rem;
        display: flex;
        align-items: center;
        margin: 2rem 0 1rem 1rem;
    }
    @include desktop{
        padding-left: 0;
        margin-left: 0;
    }

    &-tablet{
        @include tablet{
            display: flex;
            flex-direction: column;
            margin-right: 1.5rem;
        }
        @include desktop{
          margin-right: 3rem;
        }
    }

    &-management {
      margin: 1rem 0;
      @include demi-font;

      &-email {
        margin: 1.5rem 0 2.5rem 0;
        padding-top: 0;
      }

      &-p {
        margin: 0;
        padding-top: 0;

        &--normal{
          @include regular-font;
        }
      }
    }
  }

  &__socials {
    &-image {
      padding-right: 1.5rem;
      padding-bottom: 0.75rem;
    }
  }
  &__section{
    @include tablet{
        display: flex;
        justify-content: space-evenly;
        font-size: 0.9rem;
    }
    @include desktop{
        justify-content: flex-start;
    }
  }
}
.copyright {
  font-weight: 100;
  margin-top: 5rem;
  line-height: 2rem;
  font-size: 1.5rem;
  @include tablet{
      position: relative;
      bottom: 25.8rem; left: 36.87rem;
      width: 2rem;
  }
  @include desktop{
      position: relative;
      bottom: 24rem; left: 63rem;
  }

  &__fineprint {
    margin: 1rem 0 0 0;
    padding-bottom: 1.5rem;
    @include tablet{
        margin: -12.625rem 0 0 1rem;
        padding-bottom: 3rem;
    }
    @include desktop{
        margin-left: 0;
    }
  }
}