@use "./breakpoints" as *;
@use "./variables.scss" as *;

.gallery{
    background-color: #FAFAFA;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    &__h2{
        padding-bottom: 0;
        @include demi-font;
        @include colorBandSiteBlack;
        padding-top: 1rem;
        margin-left: 1rem;
        @include tablet{
            margin-left: 1.75rem;
            padding: 2.5rem 0 1rem 0;
            font-size: 2rem;
        }
        @include desktop{
            margin-left: 4.69rem;
        }
    }

    &__div{
        margin: 0 1rem;
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            margin: 0 1rem;
        }
        @include desktop{
            margin: 1rem 3rem;
            justify-content: space-evenly;
        }
        &-image{
            width: 100%;
            @include tablet{
                width: 30%;
                margin: 0.75rem;
                justify-content: space-evenly;
            }
            @include desktop{
                margin: 0.75rem 0;
            }
        }
    }
}