@use "./breakpoints" as *;
@use "./variables.scss" as *;

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 15vh;
    background-color: #323232;
    color: white;
    @include tablet{
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 15vh;
    }
    @include desktop{
        padding-left: 2rem;
        height: 10vh;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        list-style-type: none;
        text-decoration: none;
        
        &-item{
            @include regular-font;
            font-weight: 100;

            @include tablet{
            margin-left: 3rem;
            }
        }
    }

    &__item{
        display: flex;
        justify-content: center;
        line-height: 2rem;
        font-size: 1.5rem;
        
        &-link{
            text-decoration: none;
            color: white;
            @include regular-font;
            font-weight: 100;
            @include tablet{
                margin-left: 2rem;
                font-size: 1.5rem;
            }
         }
    }
}