@use "./breakpoints" as *;

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 20vh;
    background-color: #323232;
    color: white;
    @include tablet{
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 15vh;
    }
    @include desktop{
        padding-left: 36px;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        text-decoration: none;
        
        &-item{
            @include tablet{
            margin-left: 48px;
            }
        }
    }

    &__item{
        display: flex;
        justify-content: center;
        font-family: "bold_avenir";
        font-style: normal;
        font-weight: bold;
        line-height: 32px;
        font-size: 24px;
        
        &-link{
            text-decoration: none;
            color: white;
            @include tablet{
                margin-left: 32px;
                font-size: 24px;
            }
         }
    }
}