@use "./breakpoints" as *;
@use "./variables.scss" as *;

.hero {
    display: flex;
    align-items: center;
    background-color: #323232;

    & h1{
        position: absolute;
        z-index: 1;
        margin-left: 1rem;
        @include demi-font;
        color: white;
        @include tablet{
            font-size: 3.75rem;
            margin-left: 2rem;
        }
        @include desktop{
            padding-left: 3rem;
        }
    }

    &__image{
        height: 35vh;
        width: 100%;
        opacity: 0.5;
        @include tablet{
            height: 70vh;
        }
        @include desktop{
            height: 60vh;
        }
    }
}