.hero {
    display: flex;
    align-items: center;
    // color: white;
    background-color: #323232;

    & h1{
        position: absolute;
        z-index: 1;
        margin-left: 1rem;
        font-family: "regular__avenir";
        font-style: normal;
        font-weight: bolder;
        color: white;
    }

    &__image{
        height: 35vh;
        width: 100%;
        opacity: 0.5;
    }
}