@use "./breakpoints" as *;

.main h2 {
  margin-bottom: 8px;
  @include tablet{
    margin-bottom: 16px;
  }
}

.main {
  &__section {
    justify-content: center;
    display: flex;

    &-image {
      height: 30vh;
      width: 100%;
      @include tablet{
        width: 80%;
        height: 50vh;
      }
    }
    &-p {
      font-family: "avenir";
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      font-size: 14px;
      text-align: left;
      margin-bottom: 0;
      @include tablet{
        font-size: 20px;
        margin: 32px 75px 16px 70px;
      }
      &-signature{
        margin: 8px 0 32px 0;
        @include tablet{
          margin: 0 0 16px 64px;
        }
      }
    }

    &-title {
      font-family: "avenir";
      font-style: normal;
      font-weight: 500;
      margin-top: 16px;
      @include tablet{
        font-size: 20px;
        font-weight: bold;
        margin-left: 64px;
        margin-top: 48px;
      }
    }
    &-origin {
      @include tablet{
        display: flex;
        justify-content: space-around;
        margin: 0 48px;
        text-align: left;
        }

      &-p{
        font-family: "avenir";
        font-style: normal;
        font-weight: 400;
        margin-top: 16px;
        @include tablet{
          padding-left: 16px;
        }
      }
    }
  }
}
