@use "./breakpoints" as *;

.main h2 {
  margin-bottom: 8px;
  @include tablet{
    margin-bottom: 16px;
  }
  @include desktop{
    padding-left: 36px;
  }
}

.main {
  &__section {
    justify-content: center;
    display: flex;

    &-div{
      margin: 0 50px;
    }

    &-image {
      height: 30vh;
      width: 100%;
      @include tablet{
        width: 90%;
        height: 40vh;
      }
      @include desktop{
        width: 85%;
        height: 60vh;
      }
    }
    &-p {
      font-family: "avenir";
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      font-size: 14px;
      text-align: left;
      margin-bottom: 0;
      @include tablet{
        font-size: 20px;
        margin: 24px 16px 16px 32px;
      }
      @include desktop{
        margin: 16px 32px;
        width: 60%;
      }
      &-signature{
        margin: 8px 0 32px 0;
        @include tablet{
          margin: 0 0 16px 32px;
        }
      }
    }

    &-title {
      font-family: "avenir";
      font-style: normal;
      font-weight: 500;
      margin-top: 16px;
      @include tablet{
        font-size: 20px;
        font-weight: bold;
        margin-left: 32px;
        margin-top: 48px;
      }
    }
    &-origin {
      @include tablet{
        display: flex;
        justify-content: space-around;
        margin: 0 32px;
        text-align: left;
        }

      &-p{
        font-family: "avenir";
        font-style: normal;
        font-weight: 400;
        margin-top: 16px;
        @include tablet{
          margin: 0;
        }
        &-right{
          margin-left: 20px;
        }
      }
    }
  }
}
