@use "./breakpoints" as *;

* {
  box-sizing: border-box;
}

.main {
  margin: 1rem;
  @include tablet{
      margin: 2.25rem;
  }
  @include desktop{
      margin: 2.25rem;
  }
}

html,
body,
ul,
h2{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
