@use "./variables.scss" as *;
@use "./breakpoints" as *;

.header {
    display: flex;
    background-color: #323232;
    flex-direction: column;
    @include regular-font;
    color: white;
    
    &__div{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
    }

    &__nav{
        display: flex;

        &-list{
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-div{
                width: 50%;
                display: flex;
                justify-content: center;

                &--border{
                    border-bottom: 4px white solid;
                }
            }

            &-item {
                padding: 1rem;
                list-style-type: none;

                &-link{
                    text-decoration: none;
                    color: #e1e1e1;

                    &:hover{
                        color: #FFFFFF;
                    }
                    &:active{
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}