@mixin regular-font {
  font-family: "regular__avenir";
  font-style: normal;
  font-weight: 400;
}

@mixin bold-font {
  font-family: "bold__avenir";
  font-style: normal;
  font-weight: bold;
}

@mixin demi-font {
  font-family: "demi__avenir";
  font-style: normal;
  font-weight: 600;
}

@mixin mobile-padding {
  padding: 0 1rem;
}

@mixin tablet-desktop-padding {
  padding: 0 2.25rem
}

@mixin colorWhite {
  color: #FFFFFF;
};

@mixin colorBandSiteBlack {
  color: #323232;
}

@mixin bgColorBandSiteBlack {
  background-color: #323232;
}