@mixin regular-font {
  font-family: "regular__avenir";
  font-style: normal;
  font-weight: 400;
}

@mixin bold-font {
  font-family: "bold__avenir";
  font-style: normal;
  font-weight: bold;
}

@mixin demi-font {
  font-family: "demi__avenir";
  font-style: normal;
  font-weight: 600;
}

  @mixin nav-underline-mobile {
  text-decoration: underline solid white;
  text-decoration-thickness: 2px;
  text-underline-offset: 1.75rem;
  font-weight: bold;
  color: white;
}

@mixin nav-underline-tablet {
  text-decoration: underline solid white;
  text-decoration-thickness: 2px;
  text-underline-offset: 4.05rem;
  font-weight: bold;
  color: white;
}

@mixin bandsite-underline {
  text-decoration: underline solid white;
  text-decoration-thickness: 2px;
  text-underline-offset: 3.8rem;
  font-weight: bold;
  color: white;
}